{% extends '::adminbase.html.twig' %}

{% block body -%}
    <h1>Movie creation <a href="{{ path('movies') }}" class="btn-primary btn">
            Back to the list
        </a></h1>

    {{ form(form) }}


{% endblock %}
