{% extends '::adminbase.html.twig' %}

{% block body -%}
    <h1>Tags edit <a href="{{ path('tags') }}" class="btn-primary btn">
            Back to the list
        </a></h1>

    {{ form(edit_form) }}

   {{ form(delete_form) }}
{% endblock %}
