{% extends '::adminbase.html.twig' %}

{% block body -%}
    <h1>Create Tag  <a href="{{ path('tags') }}" class="btn btn-primary">
            Back to the list
        </a></h1>

    {{ form(form) }}

{% endblock %}
