{% extends '::adminbase.html.twig' %}

{% block body -%}
    <div class="row">
        <div class="col-md-8">
            <h1>Category creation <a href="{{ path('category') }}" class="btn btn-primary pull-right">
                    Back to the list
                </a></h1>

            {{ form(form) }}
        </div>
    </div>


{% endblock %}
